In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Importing the libraries
import numpy as np
import pandas as pd
! pip install scikit-surprise
from sklearn import preprocessing
from collections import defaultdict
from surprise import SVD
from surprise import KNNWithMeans
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import cross_validate
from surprise.model_selection import train_test_split

# Suppressing Warnings
import warnings
warnings.filterwarnings('ignore')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)

In [3]:
open1=pd.read_csv('phone_user_review_file_1.csv',encoding='latin-1')
open1.head()

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Verizon Wireless,verizonwireless.com,10.0,10.0,As a diehard Samsung fan who has had every Sam...,CarolAnn35,Samsung Galaxy S8
1,/cellphones/samsung-galaxy-s8/,4/28/2017,en,us,Phone Arena,phonearena.com,10.0,10.0,Love the phone. the phone is sleek and smooth ...,james0923,Samsung Galaxy S8
2,/cellphones/samsung-galaxy-s8/,5/4/2017,en,us,Amazon,amazon.com,6.0,10.0,Adequate feel. Nice heft. Processor's still sl...,R. Craig,"Samsung Galaxy S8 (64GB) G950U 5.8"" 4G LTE Unl..."
3,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Samsung,samsung.com,9.2,10.0,Never disappointed. One of the reasons I've be...,Buster2020,Samsung Galaxy S8 64GB (AT&T)
4,/cellphones/samsung-galaxy-s8/,5/11/2017,en,us,Verizon Wireless,verizonwireless.com,4.0,10.0,I've now found that i'm in a group of people t...,S Ate Mine,Samsung Galaxy S8

In [4]:
open2=pd.read_csv('phone_user_review_file_2.csv',encoding='latin-1')
open2.head()

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/leagoo-lead-7/,4/15/2015,en,us,Amazon,amazon.com,2.0,10.0,"The telephone headset is of poor quality , not...",luis,Leagoo Lead7 5.0 Inch HD JDI LTPS Screen 3G Sm...
1,/cellphones/leagoo-lead-7/,5/23/2015,en,gb,Amazon,amazon.co.uk,10.0,10.0,This is my first smartphone so I have nothing ...,Mark Lavin,Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
2,/cellphones/leagoo-lead-7/,4/27/2015,en,gb,Amazon,amazon.co.uk,8.0,10.0,Great phone. Battery life not great but seems ...,tracey,Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
3,/cellphones/leagoo-lead-7/,4/22/2015,en,gb,Amazon,amazon.co.uk,10.0,10.0,Best 90 quid I've ever spent on a smart phone,Reuben Ingram,Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
4,/cellphones/leagoo-lead-7/,4/18/2015,en,gb,Amazon,amazon.co.uk,10.0,10.0,I m happy with this phone.it s very good.thx team,viorel,Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...

In [5]:
open3=pd.read_csv('phone_user_review_file_3.csv',encoding='latin-1')
open3.head()

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,11/7/2015,pt,br,Submarino,submarino.com.br,6.0,10.0,"recomendo, eu comprei um, a um ano, e agora co...",herlington tesch,Samsung Smartphone Samsung Galaxy S3 Slim G381...
1,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,10/2/2015,pt,br,Submarino,submarino.com.br,10.0,10.0,Comprei um pouco desconfiada do site e do celu...,Luisa Silva Marieta,Samsung Smartphone Samsung Galaxy S3 Slim G381...
2,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,9/2/2015,pt,br,Submarino,submarino.com.br,10.0,10.0,"Muito bom o produto, obvio que tem versÃµes me...",Cyrus,Samsung Smartphone Samsung Galaxy S3 Slim G381...
3,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,9/2/2015,pt,br,Submarino,submarino.com.br,8.0,10.0,Unica ressalva fica para a camera que poderia ...,Marcela Santa Clara Brito,Samsung Smartphone Samsung Galaxy S3 Slim G381...
4,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,9/1/2015,pt,br,Colombo,colombo.com.br,8.0,10.0,Rapidez e atenÃ§Ã£o na entrega. O aparelho Ã© ...,Claudine Maria Kuhn Walendorff,"Smartphone Samsung Galaxy S3 Slim, Dual Chip, ..."

In [6]:
open4=pd.read_csv('phone_user_review_file_4.csv',encoding='latin-1')
open4.head()

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-s7262-duos-galaxy-ace/,3/11/2015,en,us,Amazon,amazon.com,2.0,10.0,was not conpatable with my phone as stated. I ...,Frances DeSimone,Samsung Galaxy Star Pro DUOS S7262 Unlocked Ce...
1,/cellphones/samsung-s7262-duos-galaxy-ace/,17/11/2015,en,in,Zopper,zopper.com,10.0,10.0,Decent Functions and Easy to Operate Pros:- Th...,Expert Review,Samsung Galaxy Star Pro S7262 Black
2,/cellphones/samsung-s7262-duos-galaxy-ace/,29/10/2015,en,in,Amazon,amazon.in,4.0,10.0,Not Good Phone such price. Hang too much and v...,Amazon Customer,Samsung Galaxy Star Pro GT-S7262 (Midnight Black)
3,/cellphones/samsung-s7262-duos-galaxy-ace/,29/10/2015,en,in,Amazon,amazon.in,6.0,10.0,not bad for features,Amazon Customer,Samsung Galaxy Star Pro GT-S7262 (Midnight Black)
4,/cellphones/samsung-s7262-duos-galaxy-ace/,29/10/2015,en,in,Amazon,amazon.in,10.0,10.0,Excellent product,NHK,Samsung Galaxy Star Pro GT-S7262 (Midnight Black)

In [7]:
open5=pd.read_csv('phone_user_review_file_5.csv',encoding='latin-1')
open5.head()

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/karbonn-k1616/,7/13/2016,en,in,91 Mobiles,91mobiles.com,2.0,10.0,I bought 1 month before. currently speaker is ...,venkatesh,Karbonn K1616
1,/cellphones/karbonn-k1616/,7/13/2016,en,in,91 Mobiles,91mobiles.com,6.0,10.0,"I just bought one week back, I have Airtel con...",Venkat,Karbonn K1616
2,/cellphones/karbonn-k1616/,7/13/2016,en,in,91 Mobiles,91mobiles.com,4.0,10.0,one problem in this handset opera is not worki...,krrish,Karbonn K1616
3,/cellphones/karbonn-k1616/,4/25/2014,en,in,Naaptol,naaptol.com,10.0,10.0,here Karbonn comes up with an another excellen...,BRIJESH CHAUHAN,Karbonn K1616 - Black
4,/cellphones/karbonn-k1616/,4/23/2013,en,in,Naaptol,naaptol.com,10.0,10.0,"What a phone, all so on Naaptol my god 23% off...",Suraj CHAUHAN,Karbonn K1616 - Black

In [8]:
open6=pd.read_csv('phone_user_review_file_6.csv',encoding='latin-1')
open6.head()

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-instinct-sph-m800/,9/16/2011,en,us,Phone Arena,phonearena.com,8.0,10.0,I've had the phone for awhile and it's a prett...,ajabrams95,Samsung Instinct HD
1,/cellphones/samsung-instinct-sph-m800/,2/13/2014,en,us,Amazon,amazon.com,6.0,10.0,to be clear it is not the sellers fault that t...,Stephanie,Samsung SPH M800 Instinct
2,/cellphones/samsung-instinct-sph-m800/,12/30/2011,en,us,Phone Scoop,phonescoop.com,9.0,10.0,Well i love this phone. i have had ton of phon...,snickers,Instinct M800
3,/cellphones/samsung-instinct-sph-m800/,10/18/2008,en,us,HandCellPhone,handcellphone.com,4.0,10.0,I have had my Instinct for several months now ...,A4C,Samsung Instinct
4,/cellphones/samsung-instinct-sph-m800/,9/6/2008,en,us,Reviewed.com,reviewed.com,6.0,10.0,i have had this instinct phone for about two m...,betaBgood,Samsung Instinct

In [9]:
#  Merge the provided CSVs into one data-frame. 
data=pd.concat([open1,open2,open3,open4,open5,open6],axis=0)
data.head()

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Verizon Wireless,verizonwireless.com,10.0,10.0,As a diehard Samsung fan who has had every Sam...,CarolAnn35,Samsung Galaxy S8
1,/cellphones/samsung-galaxy-s8/,4/28/2017,en,us,Phone Arena,phonearena.com,10.0,10.0,Love the phone. the phone is sleek and smooth ...,james0923,Samsung Galaxy S8
2,/cellphones/samsung-galaxy-s8/,5/4/2017,en,us,Amazon,amazon.com,6.0,10.0,Adequate feel. Nice heft. Processor's still sl...,R. Craig,"Samsung Galaxy S8 (64GB) G950U 5.8"" 4G LTE Unl..."
3,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Samsung,samsung.com,9.2,10.0,Never disappointed. One of the reasons I've be...,Buster2020,Samsung Galaxy S8 64GB (AT&T)
4,/cellphones/samsung-galaxy-s8/,5/11/2017,en,us,Verizon Wireless,verizonwireless.com,4.0,10.0,I've now found that i'm in a group of people t...,S Ate Mine,Samsung Galaxy S8

In [10]:
# Explore, understand the Data and share at least 2 observations. 
data.shape

(1415133, 11)

In [11]:
data.describe().T

               count      mean       std   min   25%   50%   75%   max
score      1351644.0   8.00706  2.616121   0.2   7.2   9.2  10.0  10.0
score_max  1351644.0  10.00000  0.000000  10.0  10.0  10.0  10.0  10.0

In [12]:
data.dtypes

phone_url     object
date          object
lang          object
country       object
source        object
domain        object
score        float64
score_max    float64
extract       object
author        object
product       object
dtype: object

In [13]:
#Check for missing values.
data.isnull().sum()

phone_url        0
date             0
lang             0
country          0
source           0
domain           0
score        63489
score_max    63489
extract      19361
author       63202
product          1
dtype: int64

In [14]:
# Impute the missing values
data = data.fillna(data.median())

In [15]:
data =data.dropna()

In [16]:
data.isnull().values.any()

False

In [17]:
# Check for duplicate values and remove them
data.duplicated().sum()

4809

In [18]:
data = data.drop_duplicates()

In [19]:
# Round oﬀ scores to the nearest integers. 
data['score'] = data['score'].astype(int) 
data['score_max'] = data['score_max'].astype(int)

In [20]:
# Check for duplicate values and remove them
data.drop(columns=['phone_url','date','lang','country','source','domain','score_max','extract'], axis = 1, inplace = True)

In [21]:
review = data.copy()

In [22]:
review.shape

(1331607, 3)

In [23]:
# Keep only 1000000 data samples. Use random state=612
rev = review.sample(n=1000000, random_state=612)

In [24]:
# Identify the most rated features.
# sorting on products that got highest mean score
rev.groupby('product')['score'].mean().sort_values(ascending=False).head()

product
LG Electronics G3S UK SIM-Free Smartphone - Shine Gold                                                                                                               10.0
TTfone Pluto (TT600) Pay As You Go - Prepay - PAYG - Big Button Clamshell Flip Senior Emergency Mobile Phone - Easy to Use Simple (Orange with Â£10 Credit, Blue)    10.0
BlackBerry Curve 9300 Pink Simfree Unlocked Mobile Phone                                                                                                             10.0
BlackBerry Curve 9300 Zwart                                                                                                                                          10.0
TTfone Pluto (TT600) Pay As You Go - Prepay - PAYG - Big Button Clamshell Flip Senior Emergency Mobile Phone - Easy to Use Simple (Virgin Pay as you go, Blue)       10.0
Name: score, dtype: float64

In [25]:
# 2 b. Identify the users with most number of reviews. 
(rev['author'].value_counts()).head()

Amazon Customer    57792
Cliente Amazon     14624
e-bit               6317
Client d'Amazon     5698
Amazon Kunde        3574
Name: author, dtype: int64

In [26]:
# The product that got most number of reviews.
rev['product'].value_counts().head()

Lenovo Vibe K4 Note (White,16GB)     3908
Lenovo Vibe K4 Note (Black, 16GB)    3234
OnePlus 3 (Graphite, 64 GB)          3128
OnePlus 3 (Soft Gold, 64 GB)         2643
Samsung Galaxy Express I8730         2012
Name: product, dtype: int64

In [27]:
# extracting authors who gave greater than 50 ratings
df = pd.DataFrame(columns=['author', 'a_count'])
df['author']=df['author'].value_counts().index.tolist() 
df['a_count'] = list(df['author'].value_counts() > 50)

In [28]:
# get names of indexes for which count column value is False
index_names = df[ df['a_count'] == False ].index 
# drop these row indexes from dataFrame 
df.drop(index_names, inplace = True) 
df

Empty DataFrame
Columns: [author, a_count]
Index: []

In [29]:
# extracting product that got more than 50 ratings
df2 = pd.DataFrame(columns=['product', 'p_count'])
df2['product']=df2['product'].value_counts().index.tolist() 
df2['p_count'] = list(df2['product'].value_counts() > 50)

In [30]:
# get names of indexes for which count column value is False
index_names = df2[ df2['p_count'] == False ].index 
# drop these row indexes from dataFrame 
df2.drop(index_names, inplace = True)

# Build a popularity based model and recommend top 5 mobile phones.

In [31]:
# calculating the mean score for a product.
top_phones = pd.DataFrame(rev.groupby('product')['score'].mean())

In [32]:
# calculating the number of ratings according to the costumers.
top_phones['rating_counts'] = pd.DataFrame(rev.groupby('product')['score'].count())  
top_phones.sample(5)

                                                        score  rating_counts
product
LG Revolution VS910 4G LTE phone Large 4.3-inch...   4.000000             13
Samsung Galaxy S III mini Value Edition              9.000000              2
Microsoft Lumia 950 wit / 32 GB                      7.000000              7
Samsung Smartphone Dual Chip Samsung Galaxy S5 ...  10.000000              1
LG Optimus L5 E615 Black Dual Sim Android 4.0 I...   6.727273             11

In [33]:
# Recommending the 5 mobile phones based in highest mean score and highest number of ratings the product got. 
top_phones.sort_values(by=['score','rating_counts'], ascending=[False,False]).head()

                                                    score  rating_counts
product
Samsung Galaxy Note5                                 10.0            144
Motorola Smartphone Motorola Moto X Desbloquead...   10.0            143
Nokia Smartphone Nokia Lumia 520 Desbloqueado O...   10.0            129
Motorola Smartphone Motorola Moto G Dual Chip D...   10.0            126
Motorola Smartphone Motorola Novo Moto G DTV Co...   10.0            119

# Build a collaborative filtering model using SVD.

In [34]:
# arranging columns in the order of user id,item id and rating to be fed in the svd
columns_titles = ['author','product','score']
revs = review.reindex(columns=columns_titles)
revs.head()

        author                                            product  score
0   CarolAnn35                                  Samsung Galaxy S8     10
1    james0923                                  Samsung Galaxy S8     10
2     R. Craig  Samsung Galaxy S8 (64GB) G950U 5.8" 4G LTE Unl...      6
3  Buster2020                       Samsung Galaxy S8 64GB (AT&T)      9
4   S Ate Mine                                  Samsung Galaxy S8      4

In [35]:
# Keep only 5000 data samples. Use random state=612
newdf = revs.sample(n=5000, random_state=612)

In [36]:
# Build a collaborative filtering model using SVD. 
reader = Reader(rating_scale=(1, 10))
data = Dataset.load_from_df(newdf,reader = reader)

In [37]:
trainset = data.build_full_trainset()

In [38]:
trainset

In [39]:
trainset.ur

defaultdict(list,
            {0: [(0, 10.0)],
             1: [(1, 10.0)],
             2: [(2, 9.0)],
             3: [(3, 4.0)],
             4: [(4, 9.0)],
             5: [(5, 10.0)],
             6: [(6, 2.0),
              (784, 8.0),
              (456, 10.0),
              (1886, 10.0),
              (1992, 6.0),
              (2862, 10.0),
              (3191, 10.0),
              (311, 8.0),
              (3475, 10.0),
              (3642, 10.0),
              (456, 2.0)],
             7: [(7, 10.0)],
             8: [(8, 8.0), (3484, 10.0)],
             9: [(9, 8.0)],
             10: [(10, 2.0)],
             11: [(11, 10.0),
              (16, 10.0),
              (26, 8.0),
              (36, 10.0),
              (43, 10.0),
              (48, 10.0),
              (49, 10.0),
              (59, 2.0),
              (26, 2.0),
              (129, 8.0),
              (159, 2.0),
              (174, 10.0),
              (203, 10.0),
              (203, 8.0),
              (226, 2.0),
              (263, 10.0),
              (286, 6.0),
              (313, 2.0),
              (344, 8.0),
              (357, 10.0),
              (360, 8.0),
              (376, 8.0),
              (125, 2.0),
              (11, 10.0),
              (419, 10.0),
              (125, 10.0),
              (445, 10.0),
              (483, 4.0),
              (497, 6.0),
              (500, 10.0),
              (501, 6.0),
              (506, 2.0),
              (80, 2.0),
              (538, 2.0),
              (551, 10.0),
              (554, 10.0),
              (582, 10.0),
              (591, 2.0),
              (614, 2.0),
              (626, 10.0),
              (659, 2.0),
              (669, 10.0),
              (682, 2.0),
              (693, 2.0),
              (718, 4.0),
              (727, 2.0),
              (445, 10.0),
              (80, 10.0),
              (796, 10.0),
              (807, 6.0),
              (831, 8.0),
              (900, 4.0),
              (903, 10.0),
              (906, 10.0),
              (912, 10.0),
              (947, 2.0),
              (949, 2.0),
              (955, 2.0),
              (129, 10.0),
              (984, 2.0),
              (997, 2.0),
              (1061, 10.0),
              (203, 10.0),
              (1095, 10.0),
              (263, 6.0),
              (1195, 6.0),
              (203, 8.0),
              (669, 2.0),
              (1258, 10.0),
              (1262, 8.0),
              (1014, 8.0),
              (1275, 10.0),
              (1407, 2.0),
              (1418, 8.0),
              (497, 6.0),
              (1472, 8.0),
              (1499, 10.0),
              (342, 10.0),
              (1543, 8.0),
              (1547, 6.0),
              (792, 8.0),
              (1591, 10.0),
              (1629, 2.0),
              (621, 10.0),
              (279, 10.0),
              (1675, 10.0),
              (1699, 2.0),
              (263, 10.0),
              (1703, 10.0),
              (1708, 10.0),
              (1710, 10.0),
              (1629, 2.0),
              (1733, 10.0),
              (1515, 10.0),
              (1753, 10.0),
              (417, 10.0),
              (1768, 10.0),
              (1430, 10.0),
              (1769, 10.0),
              (497, 2.0),
              (669, 8.0),
              (1826, 8.0),
              (1829, 6.0),
              (739, 8.0),
              (1841, 10.0),
              (1842, 8.0),
              (1850, 2.0),
              (659, 4.0),
              (1855, 10.0),
              (1903, 8.0),
              (125, 10.0),
              (1922, 4.0),
              (1927, 10.0),
              (1933, 2.0),
              (693, 8.0),
              (659, 8.0),
              (165, 8.0),
              (693, 10.0),
              (1959, 8.0),
              (203, 8.0),
              (1982, 10.0),
              (1971, 2.0),
              (203, 6.0),
              (1928, 8.0),
              (506, 10.0),
              (2029, 10.0),
              (151, 10.0),
              (1964, 10.0),
              (263, 2.0),
              (2110, 8.0),
              (203, 10.0),
              (1262, 10.0),
              (151, 10.0),
              (2137, 2.0),
              (2170, 6.0),
              (838, 10.0),
              (2209, 4.0),
              (1208, 4.0),
              (1262, 4.0),
              (2240, 10.0),
              (693, 10.0),
              (739, 10.0),
              (2261, 10.0),
              (1061, 10.0),
              (2286, 10.0),
              (1631, 10.0),
              (693, 4.0),
              (1147, 6.0),
              (9, 2.0),
              (2369, 2.0),
              (497, 10.0),
              (1708, 10.0),
              (2406, 2.0),
              (1629, 10.0),
              (2447, 8.0),
              (2460, 8.0),
              (1222, 4.0),
              (2511, 6.0),
              (1047, 10.0),
              (2520, 8.0),
              (2522, 8.0),
              (693, 10.0),
              (2546, 4.0),
              (634, 2.0),
              (931, 2.0),
              (26, 4.0),
              (2595, 2.0),
              (2618, 10.0),
              (125, 6.0),
              (2629, 6.0),
              (1258, 2.0),
              (445, 10.0),
              (2641, 2.0),
              (2240, 6.0),
              (203, 6.0),
              (2709, 8.0),
              (1212, 10.0),
              (2712, 10.0),
              (2761, 10.0),
              (2682, 10.0),
              (2807, 4.0),
              (669, 6.0),
              (686, 2.0),
              (2867, 2.0),
              (2903, 10.0),
              (2909, 8.0),
              (659, 2.0),
              (1147, 10.0),
              (2957, 10.0),
              (2980, 10.0),
              (2507, 8.0),
              (2595, 10.0),
              (746, 8.0),
              (1776, 10.0),
              (3030, 2.0),
              (3068, 10.0),
              (3073, 10.0),
              (3076, 4.0),
              (129, 8.0),
              (2019, 8.0),
              (2997, 10.0),
              (3131, 6.0),
              (3140, 10.0),
              (659, 10.0),
              (1262, 10.0),
              (3155, 10.0),
              (2240, 10.0),
              (3208, 2.0),
              (203, 8.0),
              (3275, 6.0),
              (203, 2.0),
              (746, 2.0),
              (835, 8.0),
              (3300, 2.0),
              (1853, 8.0),
              (1147, 10.0),
              (3331, 4.0),
              (1708, 6.0),
              (669, 8.0),
              (1419, 10.0),
              (3391, 2.0),
              (739, 10.0),
              (11, 4.0),
              (3464, 4.0),
              (1407, 4.0),
              (3470, 6.0),
              (3471, 10.0),
              (3476, 2.0),
              (3131, 2.0),
              (3535, 10.0),
              (3539, 10.0),
              (26, 8.0),
              (1407, 6.0),
              (2851, 10.0),
              (497, 6.0),
              (26, 10.0),
              (3060, 4.0),
              (3567, 10.0),
              (3568, 8.0),
              (917, 6.0),
              (1341, 10.0),
              (3589, 4.0),
              (1550, 8.0),
              (497, 6.0),
              (3626, 10.0),
              (3628, 10.0),
              (125, 6.0),
              (203, 2.0),
              (3660, 2.0),
              (3676, 10.0),
              (3681, 10.0),
              (2595, 10.0),
              (3712, 10.0),
              (3714, 10.0),
              (3722, 10.0),
              (3727, 2.0),
              (2817, 2.0),
              (9, 6.0),
              (3732, 10.0),
              (3770, 4.0),
              (263, 2.0),
              (3784, 8.0),
              (2939, 10.0),
              (11, 10.0),
              (11, 6.0),
              (1080, 2.0),
              (3811, 8.0),
              (3814, 10.0)],
             12: [(12, 10.0)],
             13: [(13, 10.0)],
             14: [(14, 8.0)],
             15: [(15, 8.0)],
             16: [(17, 10.0)],
             17: [(18, 9.0)],
             18: [(19, 7.0)],
             19: [(20, 8.0)],
             20: [(21, 10.0)],
             21: [(11, 10.0)],
             22: [(22, 10.0)],
             23: [(23, 10.0)],
             24: [(24, 10.0)],
             25: [(25, 8.0)],
             26: [(27, 10.0)],
             27: [(28, 8.0)],
             28: [(29, 8.0)],
             29: [(30, 10.0),
              (392, 10.0),
              (439, 2.0),
              (3079, 10.0),
              (1106, 8.0)],
             30: [(31, 8.0)],
             31: [(32, 8.0)],
             32: [(33, 10.0)],
             33: [(34, 10.0)],
             34: [(35, 2.0)],
             35: [(37, 8.0)],
             36: [(38, 10.0)],
             37: [(39, 10.0)],
             38: [(40, 10.0)],
             39: [(41, 10.0)],
             40: [(42, 8.0)],
             41: [(44, 8.0)],
             42: [(45, 6.0)],
             43: [(46, 10.0)],
             44: [(47, 2.0)],
             45: [(50, 10.0)],
             46: [(51, 9.0)],
             47: [(52, 10.0)],
             48: [(53, 10.0)],
             49: [(54, 10.0)],
             50: [(55, 10.0)],
             51: [(56, 10.0)],
             52: [(57, 10.0)],
             53: [(58, 10.0)],
             54: [(27, 8.0)],
             55: [(60, 4.0)],
             56: [(61, 9.0)],
             57: [(62, 10.0)],
             58: [(63, 10.0), (1157, 9.0)],
             59: [(64, 6.0)],
             60: [(65, 10.0)],
             61: [(66, 8.0)],
             62: [(67, 8.0)],
             63: [(68, 10.0)],
             64: [(69, 9.0)],
             65: [(70, 10.0)],
             66: [(71, 8.0)],
             67: [(72, 9.0), (1397, 8.0), (2744, 9.0)],
             68: [(73, 10.0),
              (307, 10.0),
              (780, 10.0),
              (911, 2.0),
              (1122, 10.0),
              (1221, 10.0),
              (1595, 10.0),
              (1633, 10.0),
              (1896, 10.0),
              (2314, 10.0),
              (2476, 10.0),
              (2556, 10.0),
              (2591, 2.0),
              (3152, 10.0),
              (3398, 10.0)],
             69: [(74, 8.0)],
             70: [(75, 10.0)],
             71: [(76, 4.0)],
             72: [(77, 8.0)],
             73: [(78, 8.0)],
             74: [(79, 8.0)],
             75: [(80, 6.0)],
             76: [(81, 8.0)],
             77: [(82, 8.0)],
             78: [(83, 9.0)],
             79: [(84, 10.0)],
             80: [(85, 5.0)],
             81: [(86, 8.0)],
             82: [(87, 7.0)],
             83: [(88, 6.0)],
             84: [(89, 10.0)],
             85: [(90, 10.0)],
             86: [(91, 10.0)],
             87: [(92, 2.0)],
             88: [(93, 2.0)],
             89: [(94, 6.0)],
             90: [(95, 4.0)],
             91: [(96, 2.0)],
             92: [(97, 10.0)],
             93: [(98, 4.0)],
             94: [(99, 8.0)],
             95: [(100, 10.0)],
             96: [(101, 4.0)],
             97: [(102, 10.0)],
             98: [(103, 6.0)],
             99: [(104, 2.0),
              (109, 8.0),
              (117, 10.0),
              (199, 8.0),
              (273, 10.0),
              (435, 6.0),
              (460, 10.0),
              (519, 8.0),
              (571, 10.0),
              (576, 4.0),
              (223, 6.0),
              (719, 8.0),
              (731, 6.0),
              (794, 2.0),
              (519, 10.0),
              (819, 10.0),
              (855, 8.0),
              (872, 2.0),
              (882, 2.0),
              (1033, 8.0),
              (1046, 8.0),
              (1150, 6.0),
              (1208, 2.0),
              (1394, 8.0),
              (707, 10.0),
              (1427, 10.0),
              (1669, 8.0),
              (1777, 10.0),
              (1782, 10.0),
              (1851, 10.0),
              (1905, 6.0),
              (1912, 8.0),
              (1931, 8.0),
              (407, 10.0),
              (2073, 2.0),
              (2106, 8.0),
              (2134, 8.0),
              (2186, 10.0),
              (1394, 2.0),
              (2227, 8.0),
              (2245, 8.0),
              (2345, 10.0),
              (2346, 10.0),
              (2363, 10.0),
              (2368, 8.0),
              (2378, 10.0),
              (2378, 4.0),
              (2503, 8.0),
              (719, 8.0),
              (2793, 10.0),
              (2873, 2.0),
              (2885, 10.0),
              (2893, 2.0),
              (2948, 10.0),
              (855, 6.0),
              (3052, 10.0),
              (3096, 8.0),
              (3157, 10.0),
              (3180, 8.0),
              (3226, 10.0),
              (3230, 6.0),
              (3251, 10.0),
              (3260, 4.0),
              (3307, 8.0),
              (3309, 6.0),
              (3393, 10.0),
              (3411, 8.0),
              (3448, 10.0),
              (3400, 10.0),
              (3504, 8.0),
              (2488, 2.0),
              (3072, 6.0),
              (3400, 2.0),
              (3803, 6.0),
              (3690, 10.0),
              (438, 10.0),
              (3818, 10.0)],
             100: [(105, 6.0)],
             101: [(106, 6.0)],
             102: [(107, 2.0)],
             103: [(108, 9.0)],
             104: [(110, 8.0)],
             105: [(111, 10.0)],
             106: [(112, 8.0)],
             107: [(113, 10.0)],
             108: [(114, 6.0)],
             109: [(115, 2.0)],
             110: [(116, 10.0)],
             111: [(118, 2.0)],
             112: [(119, 10.0)],
             113: [(120, 8.0)],
             114: [(121, 9.0)],
             115: [(122, 10.0)],
             116: [(123, 8.0)],
             117: [(124, 10.0)],
             118: [(27, 10.0)],
             119: [(125, 10.0)],
             120: [(126, 10.0)],
             121: [(127, 10.0)],
             122: [(128, 9.0)],
             123: [(130, 2.0)],
             124: [(131, 10.0),
              (234, 10.0),
              (309, 4.0),
              (351, 10.0),
              (801, 4.0),
              (995, 10.0),
              (1267, 10.0),
              (1411, 10.0),
              (1660, 4.0),
              (1712, 6.0),
              (1781, 8.0),
              (67, 2.0),
              (1947, 8.0),
              (1960, 4.0),
              (1968, 10.0),
              (2525, 10.0),
              (3045, 2.0),
              (3082, 10.0),
              (3292, 10.0),
              (540, 10.0),
              (3489, 4.0),
              (3632, 2.0)],
             125: [(132, 10.0)],
             126: [(133, 10.0),
              (1317, 8.0),
              (417, 8.0),
              (2500, 2.0),
              (512, 10.0)],
             127: [(134, 10.0)],
             128: [(135, 8.0)],
             129: [(136, 10.0)],
             130: [(137, 8.0)],
             131: [(138, 10.0)],
             132: [(139, 10.0)],
             133: [(140, 6.0)],
             134: [(125, 2.0)],
             135: [(141, 2.0)],
             136: [(142, 10.0), (1907, 8.0)],
             137: [(143, 9.0)],
             138: [(144, 8.0)],
             139: [(145, 10.0)],
             140: [(146, 10.0), (3394, 10.0), (3747, 8.0)],
             141: [(147, 10.0)],
             142: [(148, 10.0)],
             143: [(149, 10.0)],
             144: [(150, 2.0)],
             145: [(151, 2.0)],
             146: [(152, 10.0)],
             147: [(11, 10.0)],
             148: [(153, 8.0)],
             149: [(154, 6.0)],
             150: [(155, 9.0)],
             151: [(156, 6.0)],
             152: [(157, 10.0)],
             153: [(158, 8.0)],
             154: [(160, 10.0), (816, 10.0)],
             155: [(161, 8.0)],
             156: [(162, 10.0)],
             157: [(163, 10.0)],
             158: [(164, 2.0)],
             159: [(165, 6.0)],
             160: [(166, 8.0)],
             161: [(167, 10.0), (2167, 6.0)],
             162: [(168, 10.0)],
             163: [(169, 8.0)],
             164: [(170, 10.0)],
             165: [(171, 8.0)],
             166: [(172, 10.0), (2326, 10.0), (3069, 10.0)],
             167: [(173, 9.0)],
             168: [(175, 9.0)],
             169: [(176, 9.0)],
             170: [(177, 10.0)],
             171: [(178, 8.0)],
             172: [(179, 8.0)],
             173: [(180, 10.0)],
             174: [(181, 6.0)],
             175: [(182, 8.0)],
             176: [(183, 6.0), (527, 10.0)],
             177: [(184, 8.0)],
             178: [(185, 10.0)],
             179: [(186, 6.0)],
             180: [(187, 9.0)],
             181: [(188, 8.0)],
             182: [(189, 9.0)],
             183: [(190, 6.0)],
             184: [(191, 8.0)],
             185: [(192, 10.0)],
             186: [(193, 8.0)],
             187: [(194, 10.0)],
             188: [(195, 10.0), (292, 8.0)],
             189: [(196, 6.0)],
             190: [(197, 8.0)],
             191: [(198, 8.0)],
             192: [(200, 8.0)],
             193: [(201, 10.0)],
             194: [(202, 10.0)],
             195: [(204, 8.0),
              (233, 10.0),
              (324, 8.0),
              (492, 6.0),
              (204, 10.0),
              (932, 2.0),
              (1019, 10.0),
              (1143, 10.0),
              (1165, 8.0),
              (1166, 8.0),
              (1169, 8.0),
              (1179, 8.0),
              (953, 10.0),
              (1304, 8.0),
              (1143, 10.0),
              (1403, 8.0),
              (1487, 10.0),
              (1804, 8.0),
              (1816, 8.0),
              (1816, 8.0),
              (204, 8.0),
              (204, 10.0),
              (2259, 10.0),
              (2492, 10.0),
              (2575, 10.0),
              (1403, 10.0),
              (2719, 10.0),
              (2826, 8.0),
              (1488, 2.0),
              (1019, 6.0),
              (2952, 10.0),
              (3000, 10.0),
              (204, 8.0),
              (1304, 2.0),
              (3308, 10.0),
              (3342, 10.0),
              (1816, 10.0),
              (2826, 6.0),
              (1019, 10.0),
              (3651, 10.0),
              (2826, 10.0),
              (1165, 8.0),
              (1141, 8.0)],
             196: [(205, 10.0)],
             197: [(206, 4.0)],
             198: [(207, 10.0)],
             199: [(208, 10.0)],
             200: [(209, 10.0)],
             201: [(210, 10.0)],
             202: [(211, 10.0)],
             203: [(212, 9.0)],
             204: [(213, 8.0)],
             205: [(214, 10.0)],
             206: [(215, 9.0)],
             207: [(216, 2.0)],
             208: [(217, 10.0)],
             209: [(218, 10.0)],
             210: [(219, 9.0)],
             211: [(220, 4.0)],
             212: [(221, 9.0)],
             213: [(222, 10.0)],
             214: [(223, 8.0)],
             215: [(224, 10.0)],
             216: [(225, 10.0)],
             217: [(227, 10.0)],
             218: [(228, 8.0)],
             219: [(229, 10.0)],
             220: [(230, 2.0)],
             221: [(231, 10.0)],
             222: [(232, 10.0)],
             223: [(235, 10.0)],
             224: [(236, 10.0)],
             225: [(237, 9.0)],
             226: [(238, 10.0)],
             227: [(239, 8.0)],
             228: [(240, 8.0)],
             229: [(241, 10.0)],
             230: [(242, 10.0)],
             231: [(243, 9.0)],
             232: [(244, 10.0)],
             233: [(245, 2.0)],
             234: [(246, 8.0)],
             235: [(247, 10.0)],
             236: [(248, 2.0)],
             237: [(249, 10.0)],
             238: [(250, 8.0)],
             239: [(251, 2.0)],
             240: [(252, 10.0)],
             241: [(253, 6.0)],
             242: [(254, 10.0)],
             243: [(255, 9.0), (1770, 9.0), (2531, 9.0)],
             244: [(5, 10.0)],
             245: [(256, 8.0)],
             246: [(257, 2.0)],
             247: [(258, 10.0)],
             248: [(259, 2.0)],
             249: [(260, 9.0)],
             250: [(261, 10.0)],

In [40]:
algo = SVD()
algo.fit(trainset)

In [41]:
# Than predict ratings for all pairs.
testset = trainset.build_anti_testset()

In [ ]:
pred = algo.test(testset)

In [ ]:
pred

Above are the  predicted items and their estimated ratings for test user.

In [ ]:
def get_top_n(pred, n=5):
    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in pred:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [ ]:
#  Try and recommend top 5 products for test users
top_n = get_top_n(pred, n=5)

In [ ]:
top_n

Above are the top 5 predicted items and their ratings for test users.

In [ ]:
# Evaluate the collaborative model. Print RMSE value for SVD
print("SVD Model : Test Set")
accuracy.rmse(pred, verbose=True)

# Build a collaborative filtering model using kNNWithMeans from surprise using Item based model

In [ ]:
newdf2 = revs.sample(n=5000, random_state=612)

In [ ]:
reader = Reader(rating_scale=(1, 10))
data_I = Dataset.load_from_df(newdf2,reader = reader)

In [ ]:
trainset_I, testset_I = train_test_split(data_I, test_size=.30)

In [ ]:
# Use user_based true/false to switch between user-based or item-based collaborative filtering
algo_I = KNNWithMeans(k=50, sim_options={'name': 'pearson_baseline', 'user_based': False})
algo_I.fit(trainset_I)

In [ ]:
# run the  model against the testset
test_pred = algo.test(testset_I)

In [ ]:
test_pred

In [ ]:
# get RMSE
print("Item-based Model : Test Set")
accuracy.rmse(test_pred, verbose=True)

# Build a collaborative filtering model using kNNWithMeans from surprise using User based model

In [ ]:
reader = Reader(rating_scale=(1, 10))
data_U = Dataset.load_from_df(newdf2,reader = reader)

In [ ]:
trainset_U, testset_U = train_test_split(data_U, test_size=.30)

In [ ]:
# Use user_based true/false to switch between user-based or item-based collaborative filtering
algo = KNNWithMeans(k=50, sim_options={'name': 'pearson_baseline', 'user_based': True})
algo.fit(trainset_U)

when, author = Frances DeSimone ,
item: Samsung Galaxy Star Pro DUOS S7262 Unlocked Ce.
estimated rating is 8.03

In [ ]:
# run the trained model against the testset
test_pred_U = algo.test(testset_U)

In [ ]:
# Predict score (average rating) for test users
test_pred_U

Above are the prediction of user item combinations and the estimated ratings.

In [ ]:
#  Evaluate the collaborative model. Print RMSE value for User Based CF
print("User-based Model : Test Set")
accuracy.rmse(test_pred_U, verbose=True)


Popularity based recommendation system relies on the popularity, frequency counts of which items were most purchased.  
As the name suggests Popularity based recommendation system works with the trend. It basically uses the items which are in trend right now. For example, if any product which is usually bought by every new user then there are chances that it may suggest that item to the user who just signed up.andby Google News other news websites to show Top Stories with images.

Collaborative filtering is a technique that can filter out items that a user might like on the basis of reactions by similar users. It works by searching a large group of people and finding a smaller set of users with tastes similar to a particular user.t isa personalised recommender system , recommendations are made based on the past behaviour of the user. Most websites like Amazon, YouTube, and Netflix use collaborative filtering as a part of their sophisticated recommendation system

 Apart from Popularity and Collaborative Filtering , Content-based, Demographic, Utility based, Knowledge based and Hybrid recommendation system can be used as per the user needs.